.products{
    display:flex;
}
.header{
    background: #776F7B;
    padding: 3px;
}
.content{
    padding: 3px;

}
.product{
    border: 1px solid black;
    cursor: pointer;

}
.product ~ .product{
    margin-left: 10px;
}
button{
    margin: 20px;
}

/*
.trans{
    opacity:1;
    transform: scale(1.5) translateX(200px) rotate(60deg) ;
    transition-timing-function: cubic-bezier(.67,.04,.4,1.2);
    transition-duration: 1500ms;
  !*  transition: 1500ms;*!
!*    transition-timing-function: cubic-bezier(.67,.04,0,1.2);*!
    z-index: 100;
}
*/
