

.up{
    height: 220px;
    width: 40px;
    background: black;
    color: white;
    border: black;
    position: fixed;
    right: 0;
    margin-top: 200px;
}

.log-menu{
    display: flex;

}

.back{
    height: 220px;
    width: 40px;
    background: black;
    color: white;
    border: black;
}
.sign-in-form{
    text-align: center;
    border-left: 1px solid darkgray;
    height: 220px;
    width: 250px;
    background: black;
    padding: 20px;
}

.log-menu{
    position: fixed;
    right: 0;
    margin-top: 200px;
}
h4{
    color: white;
    font-family: Tahoma,sans-serif;
}

input{
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
}

.sign-in{
    margin: 5px;
    padding: 5px;
    width: 179px;
    background: #057d05;
    border:#057d05;
    color:white;
    border-radius: 3px;
}

#test{
    background: red;
}
p{
    background: yellow;
}
.form{
    display: none;
}